nav{
    width: 100%;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    font-family: system-ui !important;
}
.initial-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.initial-nav img{
    width: 50px;
    padding: 5px;
}
#tag{
    font-size: 15px;
    color: orangered;
    font-weight: 500;
    font-style: italic;
    display: contents;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px ;
}
.final-nav{
    display: flex;
    align-items: center;
}
.final-nav h6{
    font-size: 11px;
    margin-bottom: -15px !important;
    margin-right: 5px !important;
}
 
.final-nav img{
    width: 35px;
}
.final-nav i{
    font-size: 13px;
    color: #4b8fd5;
    font-weight: bold;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}
.label{
    display: block;
    border: 1px solid #5c5c5c;
    width: 100%;
    position: absolute;
    margin-top: 3rem;
    height: 4rem;
    backdrop-filter: grayscale(1);
    z-index: 1;
    color-interpolation-filters: srgb;
    border-left: none;
    border-right: none;
}
tr:hover{
    background-color: rgb(203, 239, 255);
}
.drawingBuffer{
    width: 300px !important;
    height: 300px !important;
    display: none;
}
#input-form{
    display: grid;
    justify-items: center;
    width: 100%;
    position: absolute;
    background: #fff;
    margin-top: 205px;
    height: 9rem;
}
#camera{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: -webkit-fill-available !important; 
    object-fit: none;
    filter: blur(1px);
}