nav{
    width: 100%;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 5%), 0 5px 15px 0 rgb(0 0 0 / 5%);
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 2.5rem !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    font-family: system-ui !important;
}
.initial-nav{
    display: grid;
    line-height: 5px;
    justify-items: center;
}
.initial-nav img{
    width: 50px;
    padding: 5px;
}
#tag{
    font-size: 15px;
    color: orangered;
    font-weight: 500;
    font-style: italic;
    display: contents;
}
.dataDiv{
    display: flex;
    align-items: center;
}
.nav-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 6px ;
}
.final-nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.final-nav h6{
    font-size: 12px;
    margin-bottom: -15px !important;
    text-transform: uppercase;
    text-align: inherit;
    font-weight: bold;
    font-family: sans-serif;
}
 .final-nav h6 p {
    font-size: 18px;
    font-weight: 800;
    font-family: monospace;
 }
.final-nav img{
    width: 40px;
    margin-right: 15px;
}
#logout-btn{
    border: none;
    background: #979797b3;
    color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#formSend{
    margin-top: 120%;
    z-index: 1;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#data-hora {
    position: absolute;
    margin-top: -3rem;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    padding: 4px;
    border-radius: 8px;
    background: #e5e5e5;
    margin-left: -1rem;
}
.label{
    display: block;
    border: 1px solid #5c5c5c;
    width: 100%;
    position: absolute;
    margin-top: 3rem;
    height: 4rem;
    backdrop-filter: grayscale(1);
    z-index: 1;
    color-interpolation-filters: srgb;
    border-left: none;
    border-right: none;
}
tr:hover{
    background-color: rgb(203, 239, 255);
}
.drawingBuffer{
    width: 300px !important;
    height: 300px !important;
    display: none;
}
#input-form{
    display: grid;
    justify-items: center;
    width: 100%;
    position: absolute;
    background: #fff;
    margin-top: 205px;
    height: 9rem;
}
#camera{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
video{
    width: -webkit-fill-available !important; 
    object-fit: none;
    filter: blur(1px);
}